In [43]:
import pandas as pd

data = dict(AI=25, Net=30, App=30, Java=27) # number of students
series = pd.Series(data=data) # repr metod

print(f"series[0]: {series[0]}")
print(f"series[0]: {series[-1]}")

print(f"series keys: {series.keys()}") # nycklar = index
print(f"series keys: {series[series.keys()[0]]}") 

print(f"series iloc: {series.iloc[0]}")
print(f"series iloc: {series.iloc[-1]}")

print(f"series by column: {series['AI']}")

series[0]: 25
series[0]: 27
series keys: Index(['AI', 'Net', 'App', 'Java'], dtype='object')
series keys: 25
series iloc: 25
series iloc: 27
series by column: 25

/var/folders/f9/0ycsbjtd5ygdwxd1cn_bk5qw0000gn/T/ipykernel_59015/374574561.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[0]}")
/var/folders/f9/0ycsbjtd5ygdwxd1cn_bk5qw0000gn/T/ipykernel_59015/374574561.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[-1]}")

In [44]:
import random as rng

rng.seed(42)

dice_series = pd.Series([rng.randint(1,6) for _ in range(5000)])
print(dice_series)

print(f"min Value: {dice_series.min()}")
print(f"max Value: {dice_series.max()}")
print(f"mean Value: {dice_series.mean()}")
print(f"median Value: {dice_series.median()}")
print(f"standard deviation Value: {dice_series.std()}")

0       6
1       1
2       1
3       6
4       3
       ..
4995    4
4996    1
4997    1
4998    5
4999    2
Length: 5000, dtype: int64
min Value: 1
max Value: 6
mean Value: 3.531
median Value: 4.0
standard deviation Value: 1.7059956284284092

In [45]:
df = pd.DataFrame(series, columns=("Num students",))# columns kräver en "collection", lista eller tuple.
print(df)
print("\n")
print(df.T) # transpose

      Num students
AI              25
Net             30
App             30
Java            27


              AI  Net  App  Java
Num students  25   30   30    27

In [46]:
students = pd.Series(data = dict(AI=25, Net=30, App=30, Java=27))
language = pd.Series(dict(AI="python", Net="C#", App="kotlin", Java="Java"))

df_programs = pd.DataFrame({"Students": students, "language": language}) # dict med serier
 # när man lägger till en serie till en dataframe blir det en ny kolumn
df_programs

      Students language
AI          25   python
Net         30       C#
App         30   kotlin
Java        27     Java

In [47]:
import numpy as np
df_programs = pd.DataFrame({
    "Students": np.array((25,30,30,27)),
    "language": np.array(("Python", "C#", "kotlin", "java"))
    }, index = ["AI", ".NET", "APP", "Java"])

df_programs

      Students language
AI          25   Python
.NET        30       C#
APP         30   kotlin
Java        27     java

In [48]:
df_programs["Students"] # kolumner är av series, dataframes är en samling av series
df_programs["language"]
df_programs[["language", "Students"]]

     language  Students
AI     Python        25
.NET       C#        30
APP    kotlin        30
Java     java        27

In [49]:
df_programs.language

AI      Python
.NET        C#
APP     kotlin
Java      java
Name: language, dtype: object

In [50]:
df_programs["language"][".NET"]

'C#'

In [51]:
print(df_programs.loc["Java"])

df_programs.loc[["Java","APP"]]

Students      27
language    java
Name: Java, dtype: object

      Students language
Java        27     java
APP         30   kotlin

In [52]:
print(df_programs.iloc[1:3])
df_programs.loc[df_programs["Students"] > 28] #

      Students language
.NET        30       C#
APP         30   kotlin

      Students language
.NET        30       C#
APP         30   kotlin


df = df[conditions]
där condition är ett boolsk uttryck (dvs ger sant eller falskt)

In [53]:
df_programs["Students"] > 25

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

In [54]:
df_over_25 = df_programs[df_programs["Students"] > 25] # väljer ut rader efter villkor, i detta fall där varje rad är True
df_over_25

      Students language
.NET        30       C#
APP         30   kotlin
Java        27     java

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel("../Data/calories.xlsx")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [57]:
print(df["FoodCategory"].unique())
print(f"total Amount: {len(df["FoodCategory"].unique())}")

['CannedFruit' 'Fruits' 'Tropical&ExoticFruits' 'PotatoProducts'
 'Vegetables' 'FastFood' 'Pizza' 'Cheese' 'CreamCheese'
 'Milk&DairyProducts' 'SlicedCheese' 'Yogurt' 'Beef&Veal'
 'ColdCuts&LunchMeat' 'Meat' 'Offal&Giblets' 'Pork' 'Poultry&Fowl'
 'Sausage' 'Venison&Game' 'Cakes&Pies' 'Candy&Sweets' 'IceCream'
 '(Fruit)Juices' 'AlcoholicDrinks&Beverages' 'Beer'
 'Non-AlcoholicDrinks&Beverages' 'Soda&SoftDrinks' 'Wine' 'CerealProducts'
 'Oatmeal,Muesli&Cereals' 'Pasta&Noodles' 'Dishes&Meals' 'Soups' 'Legumes'
 'Nuts&Seeds' 'Oils&Fats' 'VegetableOils' 'BakingIngredients'
 'Fish&Seafood' 'Herbs&Spices' 'Pastries,Breads&Rolls' 'Sauces&Dressings'
 'Spreads']
total Amount: 44

In [58]:
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

In [61]:
df = df.rename(dict(Cals_per100grams = "Calories", per100grams = "percent", KJ_per100grams="kJ"), axis="columns")
df.head()

  FoodCategory             FoodItem percent Calories      kJ
0  CannedFruit           Applesauce    100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots    100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries    100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries    100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries    100g   54 cal  227 kJ

In [64]:
df["Calories"] = df["Calories"].str[:-3].astype(int)
df.head()

AttributeError: Can only use .str accessor with string values!

In [63]:
df["percent"].value_counts()

percent
100g     1802
100ml     423
Name: count, dtype: int64

In [66]:
solids =df[df["percent"] == "100g" ]
solids.head()
solids.shape

(1802, 5)

In [74]:
solids_sorted = solids.sort_values(by="Calories", ascending=False)
solids_sorted.iloc[:5]

     FoodCategory     FoodItem percent  Calories       kJ
1621        Soups      Goulash    100g      1009  4238 kJ
1761    Oils&Fats         Lard    100g       902  3788 kJ
528     Beef&Veal  Beef Tallow    100g       902  3788 kJ
1756    Oils&Fats    Goose Fat    100g       898  3772 kJ
599          Meat  Chicken Fat    100g       898  3772 kJ